<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar de Servicios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Servicios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servicioestacional: ${serviciosestacionales}">
        <td th:text="${servicioestacional.nombre}"></td>
        <td th:text="${servicioestacional.descripcion}"></td>
        <td><a class="btn btn-warning" th:href="@{/servicioestacional/update/{nombre}(nombre=${servicioestacional.nombre})}" role="button">Editar</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/servicioestacional/delete/{nombre}(nombre=${servicioestacional.nombre})}"
               th:onclick="return confirm('¿Estás seguro/a de borrar el servicio '+[[${servicioestacional.nombre}]] + '?');"
               role="button">Borrar</a>
        </td>

    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir Servicio Estacional</a>
</body>
</html>