



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<html xmlns:th="http://www.thymeleaf.org">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/sty.css"
          th:href="@{/css/sty.css}"/>
</head>
<body>
<form action="#" th:action="@{/ciudadano/add}"
      th:object="${ciudadano}" method="post">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Usuario</h3>
                </div>
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{DNI}" /></td>
            <td th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></td>
        </tr>
        <tr>
            <td><label>E-mail</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="text" th:field="*{edad}" /></td>
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td><input type="text" th:field="*{municipio}" /></td>
        </tr>
        <tr>
            <td><label>Pais</label></td>
            <td><input type="text" th:field="*{pais}" /></td>
        </tr>
    </table>

    <div class="wthree-text">
        <label class="anim">
            <input type="checkbox" class="checkbox" required="">
            <span>Acepto los terminos y las condiciones</span>
        </label>
        <div class="clear"> </div>
    </div>
                <div class="form-group">
                    <input type="submit" value="REGISTRARSE" class="btn float-left login_btn">
                </div>
                <div class="colorlibcopy-agile">
                    <p>© 2021 Proyecto SANA. Todos los derechos reservados </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>


                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>