<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Ciudadano</h2>
<form action="#" th:action="@{/ciudadano/add}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="number" th:field="*{DNI}" /></td>
        </tr>
        <tr>
            <td><label>E-mail</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td><input type="text" th:field="*{municipio}" /></td>
        </tr>
        <tr>
            <td><label>Pais</label></td>
            <td><input type="text" th:field="*{pais}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir ciudadano" /></td>
        </tr>
    </table>
</form>
</body>
</html>