<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<html xmlns:th="http://www.thymeleaf.org">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/sty.css"
          th:href="@{/css/sty.css}"/>
</head>
<body>
<form action="#" th:action="@{/ciudadano/add}"
      th:object="${ciudadano}" method="post">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Usuario</h3>
                </div>
    <table>
            <form>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
            <input type="text" placeholder="Nom d'Usuari" th:field="*{usuario}" />
            <td th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></td>
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="text" placeholder="Contraseña" th:field="*{contraseña}" />
                <td th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></td>
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                </div>
            <input type="text"placeholder="DNI" th:field="*{DNI}" />
            <td th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></td>
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
            <input type="text"placeholder="E-mail" th:field="*{email}" />
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                </div>
            <input type="text"placeholder="Edat" th:field="*{edad}" />
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></td>
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                </div>
            <input type="text"placeholder="Direccion" th:field="*{direccion}" />
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-warehouse"></i></span>
                </div>
            <input type="text" placeholder="Municipio"th:field="*{municipio}" />
                </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-flag"></i></span>
                </div>
            <input type="text" placeholder="Pais"th:field="*{pais}" />

            </div>
        </form>
    </table>

    <div class="wthree-text">
        <label class="anim">
            <input type="checkbox" class="checkbox" required="">
            <span>Acepto los terminos y las condiciones</span>
        </label>
        <div class="clear"> </div>
    </div>
                <div class="form-group">
                    <input type="submit" value="REGISTRARSE" class="btn float-left login_btn">
                </div>
                <div class="colorlibcopy-agile">
                    <p>© 2021 Proyecto SANA. Todos los derechos reservados </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>


                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>