<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar ciudadano</h2>
<form action="#" th:action="@{/ciudadano/update}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{usuario}" /></td>
            <td th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="text" th:field="*{contraseña}" /></td>
            <td th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{DNI}" /></td>
            <td th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}"></td>
        </tr>
        <tr>
            <td><label>E-mail</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="text" th:field="*{edad}" /></td>
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td><input type="text" th:field="*{municipio}" /></td>
        </tr>
        <tr>
            <td><label>Pais</label></td>
            <td><input type="text" th:field="*{pais}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica ciudadano" /></td>
        </tr>
    </table>
</form>
</body>
</html>