<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo Gestor Municipal</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Gestor Municipal</h2>
<form action="#" th:action="@{/gestormunicipal/add}"
      th:object="${gestormunicipal}" method="post">
    <table>
        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{usuario}" /></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="text" th:field="*{contraseña}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{DNI}" /></td>
        </tr>
        <tr>
            <td><label>Pueblo</label></td>
            <td><input type="text" th:field="*{pueblo}" /></td>
        </tr>
        <tr>
            <td><label>Fecha Inicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}" /></td>
        </tr>
        <tr>
            <td><label>Fecha Fin</label></td>
            <td><input type="text" th:field="*{fechaFin}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Gestor Municipal" /></td>
        </tr>
    </table>
</form>
</body>
</html>