<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Gestores Municipales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Gestores Municipales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Usuario</th>
        <th scope="col">DNI</th>
        <th scope="col">E-mail</th>
        <th scope="col">Direccion</th>
        <th scope="col">Municipio</th>
        <th scope="col">Pais</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gestormunicipal: ${gestoresmunicipales}">
        <td th:text="${gestormunicipal.usuario}"></td>
        <td th:text="${gestormunicipal.DNI}"></td>
        <td th:text="${gestormunicipal.pueblo}"></td>
        <td th:text="${gestormunicipal.fechaInicio}"></td>
        <td th:text="${gestormunicipal.fechaFin}"></td>

        <td><a class="btn btn-warning" th:href="@{/gestormunicipal/update/{usuario}(usuario=${gestormunicipal.usuario})}" role="button">Edita</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/gestormunicipal/delete/{usuario}(usuario=${gestormunicipal.usuario})}" role="button">Borra</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir Gestor Municipal</a>
</body>
</html>