<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo municipio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nuevo Municipio</h2>
<form action="#" th:action="@{/municipio/add}"
      th:object="${municipio}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="number" th:field="*{tlf}" /></td>
            <td th:if="${#fields.hasErrors('tlf')}" th:errors="*{tlf}"></td>
        </tr>
        <tr>
            <td><label>CP</label></td>
            <td><input type="number" th:field="*{cp}" /></td>
            <td th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir municipio" /></td>
        </tr>
    </table>
</form>
</body>
</html>
