<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">CP</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="municipio: ${municipios}">
        <td th:text="${municipio.nombre}"></td>
        <td th:text="${municipio.tlf}"></td>
        <td th:text="${municipio.cp}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/municipio/update/{nombre}(nombre=${municipio.nombre})}" role="button">Edita</a>
        </td>

        <td><a th:href="@{/municipio/delete/{nombre}(nombre=${municipio.nombre})}"
               th:onclick="return confirm('Estàs segur d\'esborrar el nom del municipi?');">

        Esborra</a>
        </td>


    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir municipio</a>
</body>
</html>