<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Personal</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Personal de Control</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">DNI</th>
        <th scope="col">E-mail</th>
        <th scope="col">Nombre</th>
        <th scope="col">Pueblo</th>
        <th scope="col">Area</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personaldecontrol: ${personalesdecontrol}">
        <td th:text="${personaldecontrol.dni}"></td>
        <td th:text="${personaldecontrol.email}"></td>
        <td th:text="${personaldecontrol.nombre}"></td>
        <td th:text="${personaldecontrol.pueblo}"></td>
        <td th:text="${personaldecontrol.area}"></td>



        <td><a class="btn btn-warning" th:href="@{/personaldecontrol/update/{dni}(dni=${ciudadano.dni})}" role="button">Edita</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/personaldecontrol/delete/{dni}(dni=${ciudadano.dni})}" role="button">Borra</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir Personal de Control</a>
</body>
</html>