<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar Personal</h2>
<form action="#" th:action="@{/personaldecontrol/update}"
      th:object="${personaldecontrol}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></td>
        </tr>
        <tr>
            <td><label>E-mail</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><label>Pueblo</label></td>
            <td><input type="text" th:field="*{pueblo}" /></td>
            <td th:if="${#fields.hasErrors('pueblo')}" th:errors="*{pueblo}"></td>
        </tr>
        <tr>
            <td><label>Área</label></td>
            <td><input type="text" th:field="*{area}" /></td>
            <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></td>
        </tr>
            <td colspan="2"><input type="submit" value="Modifica Personal" /></td>
        </tr>
    </table>
</form>
</body>
</html>