<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar servicio</h2>
<form action="#" th:action="@{/servicio/update}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>Identificador</label></td>
            <td><input type="text" th:field="*{identificador}" /></td>
            <td th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="date" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="number" th:field="*{descripcion}" /></td>
            <td th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></td>
        </tr>
        <tr>
            <td><label>Tipo</label></td>
            <td><input type="text" th:field="*{tipo}" /></td>
            <td th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></td>
        </tr>
        <tr>
            <td><label>Area</label></td>
            <td><input type="number" th:field="*{area}" /></td>
            <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></td>
        </tr>
        <tr>
            <td><label>Numero</label></td>
            <td><input type="text" th:field="*{numero}" /></td>
            <td th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></td>
        </tr>
        <tr>
            <td><label>FechaInicio</label></td>
            <td><input type="text" th:field="*{fechaInicio}" /></td>
            <td th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></td>
        </tr>
        <tr>
            <td><label>FechaFin</label></td>
            <td><input type="text" th:field="*{fechaFin}" /></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modificar servicio" /></td>
        </tr>
    </table>
</form>
</body>
</html>