<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Areas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Lista de Areas</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Proyecto SANA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">

                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../area/list">Servicios</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="carrusel">Populares</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../ciudadano/add">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../user/list">Autenticate</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../ciudadano/list">Gestión de Ciudadanos</a></li>

            </ul>
        </div>
    </div>
</nav>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Municipio</th>
        <th scope="col">TipoAcceso</th>
        <th scope="col">Descripcion</th>
        <th scope="col">NumeroDeZonas</th>
        <th scope="col">UbicacionGeografica</th>
        <th scope="col">Tipo de área</th>
        <th scope="col">Característica física</th>
        <th scope="col">Orientacion</th>
        <th scope="col">Instalacion</th>
        <th scope="col">Comentario</th>
        <th scope="col">Imagen</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="area: ${areas}">
        <td th:text="${area.nombre}"></td>
        <td th:text="${area.municipio}"></td>
        <td th:text="${area.tipoAcceso}"></td>
        <td th:text="${area.descripcion}"></td>
        <td th:text="${area.numeroDeZonas}"></td>
        <td th:text="${area.ubicacionGeografica}"></td>
        <td th:text="${area.tipoArea}"></td>
        <td th:text="${area.caracteristicaFisica}"></td>
        <td th:text="${area.orientacion}"></td>
        <td th:text="${area.instalacion}"></td>
        <td th:text="${area.comentario}"></td>
        <td th:text="${area.imagen}"></td>
        <td><a class="btn btn-warning" th:href="@{/servicio/add/}" role="button">Añadir Servicio</a>
        </td>
        <td><a class="btn btn-warning" th:href="@{/area/update/{nombre}(nombre=${area.nombre})}" role="button">Edita</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/area/delete/{nombre}(nombre=${area.nombre})}" role="button">Borra</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir area</a>
</body>
</html>