<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"
          th:href="@{/css/styles.css}"/>

</head>
<body id="page-top" style="margin-top:10%;">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../..">Proyecto SANA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">

                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../">Areas</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../ciudadano/add">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../user/list">Autenticate</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../ciudadano/list">Ciudadanos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../servicio/list">Servicios</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container" >
        <div class="u-align-left u-container-style u-list-item u-repeater-item" >
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h5 class="u-text u-text-1" style="line-height:normal;font-weight:650;">Ocupación</h5>
                <h6 class="u-text u-text-1">El area está reservada al 65.21% (4 personas y una pierna) de su opcupación máxima</h6>
            </div>
        </div>
        <br>
        <div class="u-align-left u-container-style u-list-item u-repeater-item" >
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h5 class="u-text u-text-1" style="line-height:normal; font-weight:650;">Tiempo actual</h5>
                <h6 class="u-text u-text-1" >Parcialmente soleado con rachas de viento huracanado, cuidado con tragar arena</h6>
            </div>
        </div>
        <br>
        <div class="u-align-left u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h5 class="u-text u-text-1" style="line-height:normal;font-weight:650;">Condiciones del area</h5>
                <h6 class="u-text u-text-1">Tenemos que reparar un columpio porque un niño lo ha roto</h6>
            </div>
        </div>
    </div>
</body>
</html>