.titulo {
    font-size 40px;
    font-family: 'Dancing Script';
    margin-bottom 40px;
}
.container {
  width: 60%;
  height:240px;
  margin-left: auto;
  margin-right: auto;
  object-fit:cover;
}

h1 {
text-align: center;
}

body {
margin-top: 10px;
padding-bottom: 10%;
background: linear-gradient(to top, #28A745 80%, #FFFFFF 20%);
 background-attachment: fixed;
background-repeat: no-repeat;
}
