<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Municipios</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">CP</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nadador: ${municipios}">
        <td th:text="${nadador.nom}"></td>
        <td th:text="${nadador.telefono}"></td>
        <td th:text="${nadador.cp}"></td>
        <td><a class="btn btn-warning" th:href="@{/municipio/update/{nom}(nom=${municipio.nom})}" role="button">Edita</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{/municipio/delete/{nom}(nom=${municipio.nom})}" role="button">Borra</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" href="add" role="button">Añadir municipio</a>
</body>
</html>